header {
  background-color: #333333;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.25);

  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
}

header nav#navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  height: 100px;
  margin: 0 auto;
  padding: 0 2rem;
}

header nav#navbar .nav-brand {
  display: flex;
  align-items: center;
  gap: 1rem;
}

header nav#navbar .nav-brand h1 {
  font-family: "Grenze", serif;
  font-weight: 400;
  font-size: 2rem;
}

header nav#navbar ul.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 1rem;
}

header nav#navbar ul.nav-list li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #aaaaaa;
  transition: color 0.3s;
}

header nav#navbar ul.nav-list li a:hover {
  color: #ffffff;
  transition: color 0.3s;
}

@media (max-width: 750px) {
  header nav#navbar {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
  }
}
